@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-primaria);
    font-size: 0.9rem;
}

.carrinho{
    width: 400px;
    height: min-content;
    padding: 35px;
    border: solid 2px var(--cor-3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carrinho .cabecalho-carrinho{
    display: flex;
}

.carrinho .cabecalho-carrinho button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    line-height: 50%;
    color: var(--cor-3);
    border: 2px solid var(--cor-1);
    border-radius: 8px;
    transition: .4s;
}

.carrinho .cabecalho-carrinho button:hover{
    border: 2px solid var(--cor-1);
    border-color:var(--cor-3);
}

.carrinho .cabecalho-carrinho h3{
    margin: auto;
    text-align: center;
    font: 400 1.25rem ;
    color: var(--cor-2);
    font-weight: 500;
}

.carrinho .carrinho-item{
    position: relative;
    display: flex;
    width: 100%;
    margin: 30px 0;
    border-radius:8px;
    box-shadow: 0 4px 18px #2a2f430f;
    border: solid 1px var(--cor-3);
}

.carrinho .carrinho-item .imagem{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.carrinho .carrinho-item img{
    width: 90%;
}

.carrinho .carrinho-item .info{
    width: 70%;
    padding: 14px;
}

.carrinho .carrinho-item h4{
    color: var(--cor-2);
    font: 700 1.25rem ;
    font-weight: 500;
}

.carrinho .carrinho-item .detalhes{
    display: flex;
    gap: 10px;
    font-weight: 300;
}

.carrinho .carrinho-item .detalhes i {
    font-size: 1.0625rem;
    color: var(--cor-5);
    transform: translateY(3px);
}

.carrinho .carrinho-item .detalhes span{
    font: 600 0.75rem;
    color: var(--cor-2);
}

.carrinho .carrinho-item .preco{
    color: var(--cor-2);
    font: 700 1.25rem;
    margin-top: 8px;
}

.carrinho .carrinho-item .contador{
    position: absolute;
    right: 15px;
    bottom: 0;
}

.carrinho .carrinho-item .contador i {
    cursor: pointer;
    width: 25px;
    height: 35px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    background: var(--cor-6);
    color:var(--cor-3);
    border-radius: 8px 8px 0 0;
}

.carrinho .carrinho-item .contador span{
    margin: 0 6px ;
    font-weight: 400;
    color:var(--cor-2)
}

.carrinho .pagar{
    font-family: var(--fonte-primaria);
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    background: var(--cor-3);
    padding: 15px 0;
    margin-top: 10px;
    color: var(--cor-1);
    border-radius: 8px;
    transition: .3s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.carrinho .pagar:hover{
    background:var(--cor-6);
    color: var(--cor-2);
    border: solid 1px var(--cor-5);
}



