:root {
    --fonte-primaria: 'Ubuntu', sans-serif;
}

:root {
    --cor-1: #ffff ;
    --cor-2: #000;    
    --cor-3:#ea1d2c;
    --cor-4:#3f3e3e;
    --cor-5:#717171;
    --cor-6:#eeeeee;
    --cor-7: #e7a74e;
    --cor-8: #a6a6a6;
    --cor-9:#dcdcdc;
    --cor-10:#3e3e3e;
}